<!doctype html>
<html lang="en">
  <head>
  	<title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<!-- Outras tags do cabeçalho -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Cadastrar</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-5">
					<div class="login-wrap p-4 p-md-5">
						<div class="form-group">
							<a href="/" class="btn btn-primary bi bi-arrow-left rounded  p-3 px-5"></a>
						</div>
		      	<div class="icon d-flex align-items-center justify-content-center">
		      		<span class="fa fa-user-o"></span>
		      	</div>
		      	<h3 class="text-center mb-4">Cadastre sua conta<h3>
						<form action="/cadastro" class="login-form" method="POST">
							<div class="form-group d-flex">
								<input type="text"name="nome" class="form-control rounded-left" placeholder="Nome Completo" required>
							  </div>
							  <div class="form-group d-flex">
								<input type="date"name="dt_nasci" class="form-control rounded-left" placeholder="Data de Nascimento" required>
							  </div>
					
							<div class="form-group">
		      			<input type="text" name="username"  class="form-control rounded-left" placeholder="Username" required>
		      		</div>
	            <div class="form-group d-flex">
	              <input type="password"name="senha" class="form-control rounded-left" placeholder="Senha" required>
	            </div>
				<div class="form-group d-flex">
					<input type="text" name="saldo" class="form-control rounded-left" placeholder="Coloque seu Saldo" required>
				  </div>
				  <div class="form-group d-flex">
					<input type="text"name="cpf" class="form-control rounded-left" placeholder="CPF" required>
				  </div>
	            <div class="form-group">
	            	<button type="submit" class="btn btn-primary rounded submit p-3 px-5">Cadastrar</button>
	            </div>
	          </form>
	        </div>
				</div>
			</div>
		</div>
	</section>
	{{ toast_script|safe }}
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/popper.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>

	</body>
</html>

